    @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
    body,
    p,
    h1 {
        margin: 0px;
        padding: 0px;
        font-size: 15px;
        font-family: "spartan";
    }
    
     :root {
        --cor-magenta-muito-escuro: hsl(300, 43%, 22%);
        --cor-Rosa-Suave: hsl(333, 80%, 67%);
        --cor-Magenta-acinzentado-escuro: hsl(303, 10%, 53%);
        --cor-Magenta-acinzentado-claro: hsl(300, 24%, 96%);
        --cor-Branco: hsl(0, 0%, 100%);
    }
    
    main {
        background-image: url(./images/bg-pattern-top-mobile.svg);
        background-repeat: no-repeat;
    }
    
    .container_geral {
        padding: 30px 15px;
    }
    
    section {
        grid-column: 1/5;
    }
    
    .box_primeiro {
        text-align: center;
        padding-top: 20px;
    }
    
    .box_primeiro h1 {
        color: var(--cor-magenta-muito-escuro);
        font-weight: 900;
        font-size: 35px;
        padding: 0px 20px;
    }
    
    .box_primeiro p {
        line-height: 1.7em;
        font-weight: 500;
        color: var(--cor-Magenta-acinzentado-escuro);
    }
    
    .item_geral {
        display: flex;
        flex-direction: column;
        text-align: center;
        grid-gap: 30px;
        padding-top: 25px;
    }
    
    .conteudo_estrelas {
        background-color: var(--cor-Magenta-acinzentado-claro);
        border: none;
        border-radius: 10px;
        padding: 15px;
    }
    
    .item_estrelas p {
        padding-top: 10px;
        color: var(--cor-magenta-muito-escuro);
        font-weight: 700;
    }
    
    .estrela {
        background-image: url(./images/icon-star.svg);
        background-repeat: no-repeat;
    }
    
    .estrelas>img {
        padding: 0px 2px;
    }
    
    article {
        grid-column: 1/10;
        padding-top: 10px;
    }
    
    .box_pessoas {
        margin: 30px auto;
        background: var(--cor-magenta-muito-escuro);
        border: none;
        border-radius: 10px;
    }
    
    .box_pessoas_content {
        display: flex;
        padding: 15px;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .box_pessoas_content .autor {
        padding: 15px;
        color: var(--cor-Magenta-acinzentado-claro);
    }
    
    .autor_buyer {
        color: var(--cor-Rosa-Suave);
        padding-top: 5px;
    }
    
    .box_pessoas_content .descricao {
        color: var(--cor-Magenta-acinzentado-claro);
        line-height: 1.5em;
        padding: 10px 5px 10px;
        text-align: left;
    }
    
    .box_pessoas_content img {
        border: none;
        border-radius: 50%;
        height: 50px;
    }
    
    @media screen and (min-width: 600px) {
        main {
            background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
            background-position: left top, bottom right;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .container_geral {
            display: grid;
            grid: 1fr 1fr / repeat(9, 1fr);
            margin: 100px;
        }
        .box_primeiro {
            text-align: left;
        }
        .box_primeiro h1 {
            font-size: 3em;
            font-weight: 700;
            line-height: 1em;
            padding: 0px;
        }
        .box_pessoas_content {
            padding: 20px;
        }
        .container_pessoas {
            display: inline-flex;
            grid-column: 1/10;
            grid-gap: 20px;
            padding-top: 30px;
        }
        .conteudo_estrelas {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .item_geral {
            display: grid;
            grid-column: 5/10;
            padding-top: 70px;
            grid-template-rows: repeat(3, 40px);
        }
        .descricao {
            font-size: 13px;
        }
        .item_geral>div:nth-child(1) {
            grid-column: 1/11;
        }
        .item_geral>div:nth-child(2) {
            grid-column: 2/12;
        }
        .item_geral>div:nth-child(3) {
            grid-column: 3/13;
        }
        .container_pessoas>div:nth-child(1) {
            margin: 0px 0px 30px 0px;
        }
        .container_pessoas>div:nth-child(2) {
            margin: 15px 0px
        }
        .container_pessoas>div:nth-child(3) {
            margin: 30px 0px 0px 0px;
        }
    }